 @import url('https://fonts.googleapis.com/css?family=Poiret+One');

html, body{
font-family: 'Poiret One', cursive;
color: white;
width: 1280px;
height:	500px;	
margin:auto;
background: linear-gradient(to right,#00B4DB,#0083B0);
}

.gamezone{
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 1px 1px 15px 2px black;
	background: linear-gradient(to right,#0F2027,#203A43,#2C5364);
	width: 400px;
	height: 400px;
}
.field{
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 1px 1px 15px 2px black;
	background: linear-gradient(to right, #EAEAEA,#F2F2F2);
	width: 200px;
	height: 200px;
}

.gamefield{
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 1px 1px 15px 2px black;
	background-color: white;
	width: 300px;
	height: 300px;
}
.options{

	margin-top: 2%;

}
.player{
	margin-top:20%;
}
.player1{
	margin-top: 10%;
}
.gamefield{
	display: grid;
	box-shadow: 1px 1px 15px 2px black;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 2vw; 
}

.hidfield{
	display: none;
}
.hidden{
display: none;

}
.grid{
	display: grid !important;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1px; 
}
.grid > div {
  padding: .5em;
  background: black;
  color: white;	
  text-align: center;
  font-size: 200%;
  vertical-align: middle;
}
.shape{
	font-weight: bold;
	position: absolute;
	width: 400px;
	height: 400px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	box-shadow: 1px 1px 15px 2px black;
	background-color: white;
	width: 200px;
	height: 200px;
}
.won{
	color: black !important;
	background: linear-gradient(to right,#00c6ff,#0072ff) !important;
}
#onep, #twop, #cross, #zero, #reset{
	color: white;
	background: linear-gradient(to right,#005C97,#363795);
}
#choose{
	color: black !important;
}

}
